################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SharePointPlugin/Resources/Sharepoint.pfx
/Connector/Resources/Sharepoint.pfx
