<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://callapi20200617043906.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c4f4068f-6afc-4dde-bf8b-7b5fa4b73c51/resourcegroups/danijels-consulting-services/providers/Microsoft.Web/sites/CallAPI20200617043906</ResourceId>
    <UserName>$CallAPI20200617043906</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://callapi20200617043906.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>